@model BlogDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>@Model.Blog?.Title</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a asp-action="index" asp-controller="home">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a asp-action="index" asp-controller="blog">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post">
                            <div class="owl-carousel owl-theme owl-post">

                            @foreach(var blogImg in Model.Blog.BlogImages)
                            {
                                <div class="item">
                                    <div class="post-img">
                                        <img src="~/uploads/blogs/@blogImg?.Name" alt="">
                                    </div>
                                </div>
                            }
                        </div>

                            <div class="post-info d-flex w-100 justify-content-between">
                                <div class="d-flex">
                                    <div class="post-info-user d-flex">
                                        <div class="user-img">
                                            <img src="~/uploads/blogs/@Model.Blog.AppUser?.ProfileImg" alt="">
                                        </div>
                                        <div class="user-name ms-2">
                                            <a href="">By Admin</a>
                                        </div>
                                    </div>
                                    <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                        <span><i class="fa-solid fa-calendar-days me-1"></i> @Model.Blog.CreatedAt.ToString("MMM dddd, yyyy")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3>@Model.Blog.Title</h3>
                                <p>@Model.Blog.Desc</p>

                                <div class="tag-share shadow p-4 mt-5">
                                    <div class="d-flex flex-wrap">
                                    @foreach(var tag in Model.Blog.BlogTags)
                                    {
                                        <a href=""
                                            class="rounded-pill px-5 py-3 bg-light text-decoration-none text-dark me-3 mb-2">@tag.Tag?.Name</a>
                                        
                                    }
                                </div>
                                </div>

                            </div>
                        </div>

                        <div id="Comments" class="mt-5">
                            <div class="comments">
                                @if (Model.Blog.BlogComments.Count > 0)
                                    {
                                            <h3 class="comments-title mt-3">Comments</h3>
                                            <ol class="comment-list">
                                            @foreach(var comment in Model.Blog.BlogComments)
                                            {
                                                <li class="comment d-flex mb-3">
                                                    <div class="comment-img">
                                                        <img src="~/uploads/users/@comment.AppUser?.ProfileImg" style="width:75px;height:75px"
                                                            alt="">
                                                    </div>
                                                    <div class="comment-wrap">
                                                        <div class="comment-header">
                                                            <h4>@comment.AppUser?.FullName
                                                                <span class="comment-date">@comment.CreatedAt.ToString("MMM d, yyyy - h:mm")</span>
                                                            </h4>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>@comment.Text</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ol>
                                    }

                                    @await Html.PartialAsync("_BlogCommentFormPartialView",Model.BlogComment)
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="site-sidebar">
                            <div class="sidebar-item sidebar-search">
                                <h3>Search Here</h3>
                                <form action="" class="sidebar-form position-relative">
                                    <input type="text" class="form-control" name="title" placeholder="Search Post..">
                                    <button type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
@*                            <div class="sidebar-item sidebar-categories">
                                <h3>Categories</h3>
                                <ul class="sidebar-category-list">
                                @foreach(var cat in ViewBag.Categories)
                                {
                                    <li class="sidebar-category-list-item">
                                        <a href="">@cat?.Name</a>
                                    </li>
                                }

                                </ul>
                            </div>*@
                            <div class="sidebar-item sidebar-recents">
                                <h3>Recent Posts</h3>
                                <div class="recent-posts">
                                @foreach(var post in Model.RecentlyBlogs)
                                {
                                <div class="recent-post mt-3">
                                        <div class="recent-post-img">
                                            <img src="~/uploads/blogs/@post.BlogImages[0]?.Name" alt="">
                                        </div>
                                        <div class="recent-post-detail">
                                            <h4>
                                                <a asp-action="detail" asp-controller="blog" asp-route-id="@post.Id">@post.Title</a>
                                            </h4>
                                            <span class="date">
                                                @post.CreatedAt.ToString("dddd MMM yyyy")
                                            </span>
                                        </div>
                                    </div>    
                                }
                                
                                </div>
                            </div>
                            <div class="sidebar-item sidebar-tags">
                                <h3>Tags</h3>
                                <ul class="sidebar-tag-list">

                                @foreach(var tag in Model.Tags)
                                {
                                    <form>
                                    <li class="sidebar-tag-list-item">
                                        <button type="submit" name="tagId" value="@tag.Id" class="btn">@tag.Name</button>
                                    </li>
                                    </form>
                                }
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>
