@using Nasarna.Services
@model HomeViewModel
@inject LayoutService layoutService

@{
    ViewData["Title"] = "Home Page";
    Dictionary<string, string> settings = layoutService.GetSettings();

}

<main>
    <!-- Start of Hero -->
    <section id="hero" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
                    <div class="site-title">
                        <h2>
                            @settings["homeTitle"]
                            <span>@settings["homeSubTitle"]</span>
                        </h2>

                    </div>
                    <div class="site-subtitle">
                        <p>@settings["homeDesc"]</p>
                        <p>@settings["homeSubDesc"]</p>
                    </div>
                    <div class="site-btns d-flex ">
                        <a href="#" class="btn btn-warning ms-4">Donate Now</a>
                        <a href="#" class="btn border-secondary ms-3">Know More</a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="site-img position-relative">
                        <img src="~/assets/images/slider/img-3.png" class="position-absolute" alt="">
                        <img src="~/assets/images/slider/img-2.png" class="position-relative" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Hero -->
    <!-- Start of Mission -->
    <section id="mission" class="section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span>What We Do?</span>
                        <h2>We Are In A Mission To Help The Helpless</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var mission in Model.Missions)
                {
                    <div class="col-lg-3 col-md-6 mb-sm-3">
                        <div class="mission-card text-center">
                            <div class="mission-img">
                                <img src="~/uploads/missions/@mission.Image" alt="">
                            </div>
                            <div class="mission-content">
                                <h2>@mission.Title</h2>
                                <p>@mission.Desc</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End of Mission -->
    <!-- Start of About -->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="about-img">
                        <img src="~/assets/images/about2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="about-content">
                        <div class="section-title m-0 mb-4">
                            <span>What We Do?</span>
                            <h2>We Are In A Mission To Help The Helpless</h2>
                        </div>
                        <p class="mb-4">
                            There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there.
                        </p>
                        <p>
                            Thing embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                            Internet tend to repeat predefined chunks as necessary,
                        </p>
                        <div class="site-btns">
                            <a href="#" class="btn btn-warning">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About -->
    <!-- Start of Causes -->
    <section id="causes" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <span>Our Causes</span>
                    <h2>Popular Causes What You Should Know</h2>
                </div>
            </div>
            <div class="row">
                <div class="owl-index owl-theme owl-carousel">
                    @foreach (var cause in Model.Causes)
                    {
                        <div class="item">
                            <div class="cause-card post shadow-sm p-0">
                                <div class="post-img">
                                    <img src="~/uploads/causes/@cause.CauseImages[0]?.Name" alt="">
                                </div>
                                <div class="cause-content post-info w-100">
                                    <div class="post-content">
                                        <h3 class="fs-4">@cause.Title</h3>
                                    </div>
                                    <div class="d-flex">
                                        <div class="post-info-user d-flex">
                                            <div class="user-img">
                                                <img src="~/uploads/users/@cause.AppUser?.ProfileImg" alt="">
                                            </div>
                                            <div class="user-name ms-2">
                                                <a href="">By @cause.AppUser?.UserName</a>
                                            </div>
                                        </div>
                                        <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                            <span><i class="fa-solid fa-calendar-days me-1"></i> @cause.CreatedAt.ToString("d,MMMM")</span>
                                        </div>
                                    </div>
                                    <div class="progress mt-5 mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                         style="width: @cause.AmountPercent%;" aria-valuenow="@cause.AmountPercent" aria-valuemin="0"
                                         aria-valuemax="100">
                                            @cause.AmountPercent%
                                        </div>
                                    </div>
                                    <div class="raise-goal d-flex justify-content-between">
                                        <div class="raise">
                                            <span>Raised:</span>
                                            $@cause.CurrentAmount
                                        </div>
                                        <div class="goal">
                                            <span>Goal:</span>
                                            $@cause.NeedAmount
                                        </div>
                                    </div>
                                </div>
                                <div class="cause-btns d-flex">
                                    <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="btn">Learn More</a>
                                    <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="btn">Donate Now</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End of Causes -->
    <!-- Start of Counter -->
    <section id="counter" class="section-padding">
        <div class="container">
            <div class="row justify-content-between text-center">

                <div class="donation counter col-lg-3 col-md-6">
                    <h2>
                        <span class="odometer odometer-theme-default" data-count="@Model.Payments?.Count"></span>+
                    </h2>
                    <p class="text-secondary fs-5 pt-1 mb-0">Donation</p>
                </div>
                <div class="fund-raise counter col-lg-3 col-md-6">
                    <h2>
                        <span class="odometer odometer-theme-default" data-count="@Model.Causes.Where(x=>x.AmountPercent == 100).Count()"></span>+
                    </h2>
                    <p class="text-secondary fs-5 pt-1 mb-0">Fund Completed</p>
                </div>
                <div class="volunteers counter col-lg-3 col-md-6">
                    <h2>
                        <span class="odometer odometer-theme-default" data-count="@Model.Volunteers?.Count"></span>+
                    </h2>
                    <p class="text-secondary fs-5 pt-1 mb-0">Volunteers</p>
                </div>
                <div class="projects counter col-lg-3 col-md-6">
                    <h2>
                        <span class="odometer odometer-theme-default" data-count="@Model.Causes.Count"></span>+
                    </h2>
                    <p class="text-secondary fs-5 pt-1 mb-0">Causes</p>
                </div>

            </div>
        </div>
    </section>
    <!-- End of Counter -->
    <!-- Start of Team -->
    <section id="team" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title">
                        <span>Meet Our Team</span>
                        <h2>Our Expert Volunteer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var volunteer in Model.Volunteers)
                {
                    <div class="col-lg-4 col-md-6 col-12 mb-5">
                        <div class="member-card">
                            <div class="member-img">
                                <img src="~/uploads/users/@volunteer.AppUser?.ProfileImg" alt="">
                            </div>
                            <div class="member-info shadow-sm">
                                <div class="member">
                                    <h2>@volunteer.AppUser?.FullName</h2>
                                    <span>Volunteer</span>
                                    <ul class="member-social-list">
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.FacebookUrl"><i class="fa-brands fa-facebook-f"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.TwitterUrl"><i class="fa-brands fa-twitter"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.AppUser?.Email"><i class="fa-solid fa-envelope"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.InstagramUrl"><i class="fa-brands fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- End of Team -->
    <!-- Start of Become a Volunteer -->
    <section id="become-volunteer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="world-section">
                        <h2>Lets Change The World With Humanity</h2>
                        <a asp-action="index" asp-controller="volunteer">
                            <img src="~/assets/images/team/1.png" alt="">
                            Become A Volunteer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Become a Volunteer -->
    <!-- Start of Events -->
    <section id="events" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title">
                        <span>Our Events</span>
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var ev in Model.Events)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="event-card">
                            <div class="event-img">
                                <img src="~/uploads/events/@ev.Image" alt="">
                                <div class="date-badge">
                                    <span>@ev.Date.ToString("dd")</span>
                                    <span>@ev.Date.ToString("MMM")</span>
                                </div>
                            </div>
                            <div class="event-content shadow-sm">
                                <div class="event-title">
                                    <h2>@ev.Title</h2>
                                </div>
                                <div class="event-date-loc d-flex mb-4">
                                    <div class="event-date me-3">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>@ev.CreatedAt.ToString("hh:mm")</span>
                                    </div>
                                    <div class="event-loc me-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>@ev.Location</span>
                                    </div>
                                </div>
                                <div class="event-info mb-2 text-muted">
                                    <p>@ev.Desc</p>
                                </div>
                                <div class="learn-more-btn">
                                    <a asp-action="detail" asp-controller="event" asp-route-id="@ev.Id" class="btn text-warning ps-0">Learn More..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End of Events -->
    <!-- Start of JoinUs -->
    <section id="join-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="join-us-content">
                        <h2>You Can Help The Poor With Us</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt soluta doloremque
                            distinctio. Corrupti ea explicabo accusamus officia minima iusto eligendi.
                        </p>
                        <div class="site-btns d-flex justify-content-center">
                            <a asp-action="index" asp-controller="cause" class="btn bg-white me-2 donate-btn">Donate Now</a>
                            <a asp-action="index" asp-controller="volunteer" class="btn join-us-btn">Join Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of JoinUs -->
    <!-- Start of Blog -->
    <section id="blog" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section-title">
                        <span>Our Blog</span>
                        <h2>Latest News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="blog">
                            <div class="blog-img">
                                <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id">
                                    <img src="~/uploads//blogs/@blog.BlogImages[0]?.Name" alt="">
                                </a>
                            </div>
                            <div class="blog-content shadow-sm">
                                <span>@blog.CreatedAt.ToString("MMM dddd, yyyy")</span>
                                <a asp-action="detail" asp-controller="blog" asp-route-id="@blog.Id" class="text-decoration-none">
                                    <h2>@blog.Title</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End of Blog -->
</main>