@using Microsoft.AspNetCore.Identity
@model AccountViewModel
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Index";
    AppUser member = null;
    if (User.Identity.IsAuthenticated)
    {
        member = _userManager.Users.FirstOrDefault(x => !x.IsAdmin && x.UserName == User.Identity.Name);
    }

}

<main>
    <!-- Start of Breadcrumb -->
    <section class="breadcrumb section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <h2>@Model.User.UserName</h2>
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-list-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-list-item">
                                <a href="cause.html">Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End of Breadcrumb -->
    <!-- Start My Posts -->
    <section id="my-posts" class="mb-5 section-padding">
        <div class="container">
            <div class="row donate">
                <h2 class="fs-3 mb-4 d-flex justify-content-between mb-5">@(Model.User.UserName + "'s") Posts
                    <a asp-action="create" asp-controller="cause" class="text-decoration-none fs-4 text-warning">Add +</a>
                </h2>
                @foreach (var cause in Model.Causes)
                {
                    @if (cause != null)
                    {
                        @if(cause.AppUserId == member?.Id)
                        {
                           <div class="col-lg-6 col-md-8 col-md-10 mb-3">
                            <div class="cause-card post shadow-sm p-0">
                                <div class="owl-carousel owl-theme owl-post">
                                    @foreach (var causeImg in cause.CauseImages)
                                    {
                                        <div class="item">
                                            <div class="post-img h-50">
                                                <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id"><img src="~/uploads/causes/@causeImg.Name" alt=""></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="cause-content post-info w-100 p-3">
                                    <div class="post-content">
                                        <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="text-decoration-none">
                                            <h3 class="fs-4">@cause.Title</h3>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <div class="post-info-user d-flex">
                                                <div class="user-img">
                                                    <img src="~/assets/images/blog/admin.jpg" alt="">
                                                </div>
                                                <div class="user-name ms-2">
                                                    <a asp-action="index" asp-controller="account" asp-route-id="@cause.AppUserId">By @cause.AppUser.UserName</a>
                                                </div>
                                            </div>
                                            <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                                <span><i class="fa-solid fa-calendar-days me-1"></i> @cause.CreatedAt.ToString("MMM d, yyyy")</span>    
                                            </div>
                                        </div>

                                        <div class="post-actions d-flex align-items-center">
                                            @if(cause.CurrentAmount == 0)
                                            {
                                                <a asp-action="edit" asp-controller="cause" asp-route-id="@cause.Id"><i class="fa-solid fa-pen text-warning me-3"></i></a>
                                            }
                                            @if (cause.CurrentAmount == 0 || cause.CurrentAmount == cause.NeedAmount || cause.AmountPercent >= 100)
                                            {
                                                <a asp-action="delete" asp-controller="cause" asp-route-id="@cause.Id" class="sweet-delete"><i class="fa-solid fa-trash-can text-danger"></i></a>
                                            }
                                        </div>
                                        
                                    </div>
                                        <div class="text-right mt-3">
                                            Status: @if (@cause.IsActive == true)
                                            {
                                                <span class="text-primary">Active</span>
                                            }
                                            else if (@cause.IsActive == null)
                                            {
                                                <span class="text-secondary">Pending</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Deactive</span>
                                            }
                                        </div>
                                    <div class="progress mt-5 mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @cause.AmountPercent%;"
                                     aria-valuenow="@cause.AmountPercent" aria-valuemin="0" aria-valuemax="100">
                                            @cause.AmountPercent%
                                        </div>
                                    </div>
                                    <div class="raise-goal d-flex justify-content-between">
                                        <div class="raise">
                                            <span>Raised:</span>
                                            $@cause.CurrentAmount
                                        </div>
                                        <div class="goal">
                                            <span>Goal:</span>
                                            $@cause.NeedAmount
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        }
                        else if(cause.IsActive == true)
                        {
                            <div class="col-lg-6 col-md-8 col-md-10 mb-3">
                            <div class="cause-card post shadow-sm p-0">
                                <div class="owl-carousel owl-theme owl-post">
                                    @foreach (var causeImg in cause.CauseImages)
                                    {
                                        <div class="item">
                                            <div class="post-img h-50">
                                                <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id"><img src="~/uploads/causes/@causeImg.Name" alt=""></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="cause-content post-info w-100 p-3">
                                    <div class="post-content">
                                        <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="text-decoration-none">
                                            <h3 class="fs-4">@cause.Title</h3>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex">
                                            <div class="post-info-user d-flex">
                                                <div class="user-img">
                                                    <img src="~/assets/images/blog/admin.jpg" alt="">
                                                </div>
                                                <div class="user-name ms-2">
                                                    <a asp-action="index" asp-controller="account" asp-route-id="@cause.AppUserId">By @cause.AppUser.UserName</a>
                                                </div>
                                            </div>
                                            <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                                <span><i class="fa-solid fa-calendar-days me-1"></i> @cause.CreatedAt.ToString("MMM d, yyyy")</span>    
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="progress mt-5 mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @cause.AmountPercent%;"
                                     aria-valuenow="@cause.AmountPercent" aria-valuemin="0" aria-valuemax="100">
                                            @cause.AmountPercent%
                                        </div>
                                    </div>
                                    <div class="raise-goal d-flex justify-content-between">
                                        <div class="raise">
                                            <span>Raised:</span>
                                            $@cause.CurrentAmount
                                        </div>
                                        <div class="goal">
                                            <span>Goal:</span>
                                            $@cause.NeedAmount
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        }
                    }
                            
                }
                       
                @if(Model.Causes.Count != 0)
                {
                         <div class="pagination-wrapper mb-3">
                            <ul class="pg-pagination">
                                <li>
                                    <a href=""><i class="fa-solid fa-angle-left"></i></a>
                                </li>
                                <li class="active">
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">4</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-solid fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                }
            </div>
        </div>
    </section>
    <!-- End My Posts -->


    @if(member != null && member.Id != Model.User.Id)
    {
                    <!-- Start of Chat -->
        <div class="container">
            <div class="row">
                <div class="floating-chat">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <div class="chat">
                        <div class="header">
                            <span id="@Model.User.Id" class="rounded-circle border border-5 @(@Model.User.ConnectionId==null?"border-danger":"border-success")"></span>
                            <span class="title">
                                @Model.User.UserName
                            </span>
                            <button>
                                <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
                            </button>
                        </div>
                        <ul class="messages">
@*                            <li class="other"><span>Y</span>Salam</li>
                            <li class="self"><span>A</span>Salam</li>*@
                        </ul>
                        <div class="footer">
                            <input type="hidden" value="@Model.User.Id" id="chatIdInput" />
                            <input class="text-box" id="messageInput" placeholder="Write.." />
                            <button id="sendMessage">Send</button>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <!-- End of Chat -->
    }
</main>
