@model List<AppUser>
@{
    ViewData["Title"] = "Index";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Users Table</h4>
                    @*<a asp-action="create" class="btn btn-outline-primary"> Create Blog</a>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Username
                            </th>
                            <th>
                                Fullname
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            @user.UserName
                                        </td>
                                        <td>
                                            @user.FullName
                                        </td>
                                        <td>
                                            @if (user.IsStatus)
                                            {
                                                <span class="text-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Deactive</span>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-outline-success" asp-action="ActivateStatus" asp-controller="account" asp-route-id="@user.Id" asp-route-isActive="@true">Active</a>
                                            <a class="btn btn-outline-danger" asp-action="ActivateStatus" asp-controller="account" asp-route-id="@user.Id" asp-route-isActive="@false">Deactive</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
