@model List<Blog>
@{
    ViewData["Title"] = "Index";
    int page = ViewBag.Page;
    int totalPages = ViewBag.TotalPages;
    int count = 0;
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Blogs Table</h4>
                    <a asp-action="create" class="btn btn-outline-primary"> Create Blog</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>#</th>
                            <th>
                                Title
                            </th>
                            <th>
                                Tags
                            </th>
                              <th>
                                Images
                            </th>
                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var blog in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @blog.Title
                                        </td>
                                        <td>
                                            @foreach(var blogTag in blog.BlogTags)
                                            {
                                                <span>@blogTag.Tag?.Name</span>
                                            }
                                        </td>
                                        <td>
                                            @foreach(var blogImgs in blog.BlogImages)
                                            {
                                                <img src="~/uploads/blogs/@blogImgs?.Name" width="100px" height="50px"/>
                                            }
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-outline-primary" asp-action="detail" asp-route-id="@blog.Id">Detail</a>
                                            <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@blog.Id">Edit</a>
                                            <a class="btn btn-outline-danger sweet-delete" asp-action="delete" asp-route-id="@blog.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                             <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item @(page==1?"d-none":"")">
                                    <a asp-action="index" asp-route-page="@(page-1)" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                @if(page == 1){
                                    for(int i = page; i <= totalPages; i++){
                                        <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                    }
                                }
                                else if(page == totalPages){
                                    if(totalPages > 2){
                                        for(int i = page - 2; i <= page; i++){
                                            <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                        }
                                    }
                                    else{
                                        for(int i = 1; i <= page; i++){
                                            <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                        }
                                    }
                                }
                                else{
                                    for(int i = page - 1; i <= page + 1; i++){
                                            <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                    }
                                }
                                <li class="page-item @(page==totalPages?"d-none":"")">
                                    <a asp-action="index" asp-route-page="@(page+1)" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
