@using Microsoft.AspNetCore.Identity
@model CauseDetailViewModel
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Detail";
    AppUser loggedUser = null;

    if (User.Identity.IsAuthenticated)
    {
        loggedUser = _userManager.Users.FirstOrDefault(x => !x.IsAdmin && x.UserName == User.Identity.Name);
    }
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>@Model.Cause?.Title</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a asp-action="index" asp-controller="home">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a asp-action="detail" asp-route-id="@Model.Cause?.Id">Cause Single</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->


        <section id="cause-single" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="cause-detail post">
                            <div class="owl-carousel owl-theme owl-post">
                            @foreach(var causeImg in Model.Cause.CauseImages)
                            {
                                <div class="item">
                                    <div class="post-img">
                                        <img src="~/uploads/causes/@causeImg.Name" alt="">
                                    </div>
                                </div>
                            }
                            @* <div class="item">
                                    <div class="post-img">
                                        <img src="~/assets/images/blog/img-2.jpg" alt="">
                                    </div>
                                </div>*@
                            </div>

                            <div class="post-info d-flex w-100 justify-content-between">
                                <div class="d-flex">
                                    <div class="post-info-user d-flex">
                                        <div class="user-img">
                                            <img src="~/uploads/users/@Model.Cause.AppUser?.ProfileImg" alt="">
                                        </div>
                                        <div class="user-name ms-2">
                                            <a asp-action="index" asp-controller="account" asp-route-id="@Model.Cause?.AppUserId">By @Model.Cause.AppUser?.UserName</a>
                                        </div>
                                    </div>
                                    <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                        <span><i class="fa-solid fa-calendar-days me-1"></i> @Model.Cause.CreatedAt.ToString("d, MMM")</span>
                                    </div>
                                </div>
                           @* @if(loggedUser?.Id != Model.Cause.AppUserId)
                            {
                                <div class="chat-icon fs-5">
                                    <a asp-action="chat" asp-controller="home" class="text-secondary"><i class="fa-solid fa-comment-dots"></i></a>
                                </div>
                            }*@
                        </div>

                            <div class="cause-tab">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item ">
                                        <a class="nav-link active shadow mb-3" aria-current="page" data-bs-toggle="tab"
                                            href="#Description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link shadow mb-3" data-bs-toggle="tab"
                                            href="#Donations">Donations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link shadow mb-3" data-bs-toggle="tab"
                                            href="#Comments">Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cause-tab-text m-0">
                                <div class="tab-content">

                                    <div id="Description" class="tab-pane active border-0 p-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="case-content">
                                                    <div class="case-text-top">
                                                        <h2>@Model.Cause.Title</h2>
                                                        <div class="progress mt-5 mb-4">
                                                            <div class="progress-bar bg-warning" role="progressbar"
                                                                style="width: @Model.Cause.AmountPercent%;" aria-valuenow="@Model.Cause.AmountPercent" aria-valuemin="0"
                                                                aria-valuemax="100">@((int)Model.Cause.AmountPercent)%</div>
                                                        </div>
                                                        <div class="raise-goal d-flex justify-content-between">
                                                            <div class="raise">
                                                                <span>Raised:</span>
                                                                $@Model.Cause.CurrentAmount
                                                            </div>
                                                            <div class="goal">
                                                                <span>Goal:</span>
                                                                $@Model.Cause.NeedAmount
                                                            </div>
                                                        </div>
                                                        <div class="case-text-content">
                                                            <p class="mb-4">@Model.Cause.Desc</p>

                                                            <h3>@Model.Cause.SubTitle</h3>
                                                            <p class="mb-4">@Model.Cause.SubDesc</p>
                                                            @*<ul class="case-bottom-list">
                                                                <li class="case-bottom-list-item">
                                                                    The wise man therefore always holds in these
                                                                    matters.
                                                                </li>
                                                                <li class="case-bottom-list-item">
                                                                    The wise man therefore always holds in these
                                                                    matters.
                                                                </li>
                                                                <li class="case-bottom-list-item">
                                                                    The wise man therefore always holds in these
                                                                    matters.
                                                                </li>
                                                                <li class="case-bottom-list-item">
                                                                    The wise man therefore always holds in these
                                                                    matters.
                                                                </li>
                                                                <li class="case-bottom-list-item">
                                                                    The wise man therefore always holds in these
                                                                    matters.
                                                                </li>
                                                            </ul>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Donations" class="tab-pane donate">

                                    @if(loggedUser?.Id != Model.Cause.AppUserId)
                                    {
                                        <form asp-action="payment" asp-controller="cause" method="post">
                                            <input asp-for="Payment.CauseId" value="@Model.Cause.Id" readonly>
                                            @*<input asp-for="Cause.Title" readonly>
                                            <input asp-for="Cause.Desc" readonly>*@
                                  @*          <input asp-for="Cause.NeedAmount" readonly>
                                            <input asp-for="Cause.CurrentAmount" readonly>
                                            <input asp-for="Cause.AmountPercent" readonly>*@
                                            <div class="donation-amount tab-donation border-0 form-group">
                                                <h2>Your Donation</h2>
                                                <input asp-for="Payment.Value" type="number" class="form-control"
                                                    placeholder="Enter Donation Amount">
                                                @*<span class="text-danger" asp-validation-for="Payment.Value"></span>*@

                                            </div>

@*                                            <div class="donation-details tab-donation border-0">
                                                <h2>Details</h2>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                        <input type="text" class="form-control" name="name" id="fname"
                                                            placeholder="First Name">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                        <input type="text" class="form-control" name="name" id="name"
                                                            placeholder="Last Name">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group clearfix">
                                                        <input type="email" class="form-control" name="email" id="email"
                                                            placeholder="Email">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                                        <input type="text" class="form-control" name="Adress"
                                                            id="Adress" placeholder="Adress">
                                                    </div>
                                                    <div class="col-lg-12 col-12 form-group">
                                                        <textarea class="form-control" name="note" id="note"
                                                            placeholder="Message" rows="6"></textarea>
                                                    </div>
                                                </div>
                                            </div>*@

                                            <div class="donation-payment tab-donation border-0">
                                                <h2>Payment</h2>
                                                <div class="payment-area">
                                                    <div class="payment-by-card">
                                                        <div class="row">
                                             @*               <div
                                                                class="col-lg-6 col-md-12 col-12 mb-3 d-flex flex-column form-group">
                                                                <label asp-for="Payment.Card" class="mb-2 fw-bold">Card holder Name</label>
                                                                <input asp-for="Donation.Card" placeholder="" />
                                                                <span class="text-danger" asp-validation-for="Donation.Card"></span>
                                                            </div>*@
                                                            <div
                                                                class="col-lg-6 col-md-12 col-12 mb-3 d-flex flex-column form-group">
                                                                <label asp-for="Payment.CardNumber" class="mb-2 fw-bold">Card Number</label>
                                                                <input asp-for="Payment.CardNumber" placeholder="">
                                                                @*<span class="text-danger" asp-validation-for="Payment.CardNumber"></span>*@

                                                            </div>
                                                            <div
                                                                class="col-lg-6 col-md-12 col-12 mb-3 d-flex flex-column form-group">
                                                                <label asp-for="Payment.Cvc" class="mb-2 fw-bold">CVV</label>
                                                                <input asp-for="Payment.Cvc" placeholder="">
                                                                @*<span class="text-danger" asp-validation-for="Payment.Cvc"></span>*@

                                                            </div>
                                                            <div
                                                                class="col-lg-6 col-md-12 col-12 mb-3 d-flex flex-column form-group">
                                                                <label asp-for="Payment.Month" class="mb-2 fw-bold">Expire Month</labeL>
                                                                <input asp-for="Payment.Month" type="number" placeholder="">
                                                                @*<span class="text-danger" asp-validation-for="Payment.Month"></span>*@

                                                            </div>
                                                             <div
                                                                class="col-lg-6 col-md-12 col-12 mb-3 d-flex flex-column form-group">
                                                                <label asp-for="Payment.Year" class="mb-2 fw-bold">Expire Year</labeL>
                                                                <input asp-for="Payment.Year" type="number" placeholder="">
                                                                @*<span class="text-danger" asp-validation-for="Payment.Year"></span>*@

                                                            </div>
                                                            <span class="text-danger">@TempData["Error"]</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="form-btn mt-3 text-white">
                                                    <button type="submit" href="" class="btn btn-warning pay-btn">Submit</button>
                                                 </div>
                                            </div>

                                           
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="container mt-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Username</th>
                                                            <th scope="col">Donate</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach(var userDonate in Model.Cause.Payments)
                                                            {
                                                                 <tr>
                                                                    <th>@userDonate.AppUser?.UserName</th>
                                                                    <td>@userDonate?.Value</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    </div>
                                    <div id="Comments" class="tab-pane">
                                         <div class="comments">
                                    @if (Model.Cause.CauseComments.Count > 0)
                                    {
                                            <h3 class="comments-title mt-3">Comments</h3>
                                            <ol class="comment-list">
                                            @foreach(var comment in Model.Cause.CauseComments)
                                            {
                                                <li class="comment d-flex mb-3">
                                                    <div class="comment-img">
                                                        <img src="~/uploads/users/@comment.AppUser?.ProfileImg" style="width:75px;height:75px"
                                                            alt="">
                                                    </div>
                                                    <div class="comment-wrap">
                                                        <div class="comment-header">
                                                            <h4>@comment.AppUser?.FullName
                                                                <span class="comment-date">@comment.CreatedAt.ToString("MMM d, yyyy - h:mm")</span>
                                                            </h4>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>@comment.Text</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ol>
                                    }
                                           @await Html.PartialAsync("_CauseCommentFormPartialView",Model.CauseComment)
                                      </div>
                                </div>

                                </div>
                            </div>
                        </div>

                    @if (Model.Cause.CauseTags.Count > 0)
                    {
                        
                        <div class="tag-share shadow p-4 mt-5">
                            <div class="d-flex flex-wrap">
                            @foreach(var causeTag in @Model.Cause.CauseTags)
                            {
                                <a href=""
                               class="rounded-pill px-5 py-3 bg-light text-decoration-none text-dark me-3 mb-2">@causeTag.Tag.Name</a>
                            }
                        </div>
                        </div>
                    }

                    </div>
                    <div class="col-md-4">
                        <div class="site-sidebar">
                            <div class="sidebar-item sidebar-search">
                                <h3>Search Here</h3>
                                <form action="" class="sidebar-form position-relative">
                                    <input type="text" name="title" class="form-control" placeholder="Search Post..">
                                    <button type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="sidebar-item sidebar-categories">
                                <h3>Categories</h3>
                                <ul class="sidebar-category-list">
                                @foreach(var category in Model.Categories)
                                {
                                    <form>
                                    <li class="sidebar-category-list-item">
                                        <button type="submit" name="categoryId" value="@category.Id" class="btn">@category.Name</button>
                                    </li>
                                    </form>
                                }
                            </ul>
                            </div>
                            <div class="sidebar-item sidebar-recents">
                                <h3>Recently Posts</h3>
                                <div class="recent-posts">
                                @foreach(var recentlyPost in Model.RecentlyCauses)
                                {
                                     <div class="recent-post mt-3">
                                        <div class="recent-post-img">
                                            <img src="~/uploads/causes/@recentlyPost.CauseImages[0]?.Name" alt="">
                                        </div>
                                        <div class="recent-post-detail">
                                            <h4>
                                                <a asp-action="detail" asp-controller="cause" asp-route-id="@recentlyPost.Id">@recentlyPost.Title</a>
                                            </h4>
                                            <span class="date">
                                                @recentlyPost.CreatedAt
                                            </span>
                                        </div>
                                    </div>
                                }

                                </div>
                            </div>
                            <div class="sidebar-item sidebar-tags">
                                <h3>Tags</h3>
                                <ul class="sidebar-tag-list">
                                @foreach(var tag in Model.Tags)
                                {
                                    <form>
                                    <li class="sidebar-tag-list-item">
                                        <button type="submit" name="tagId" value="@tag.Id" class="btn">@tag.Name</button>
                                    </li>
                                    </form>
                                }
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    @if (loggedUser != null && loggedUser.Id != Model.Cause.AppUserId)
    {
        <!-- Start of Chat -->
        <div class="container">
            <div class="row">
                <div class="floating-chat">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <div class="chat">
                        <div class="header">
                            <span id="@Model.Cause.AppUserId" class="rounded-circle border border-5 @(@Model.Cause.AppUser.ConnectionId==null?"border-danger":"border-success")"></span>
                            <span class="title">
                                @Model.Cause.AppUser.UserName
                            </span>
                            <button>
                                <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
                            </button>
                        </div>
                        <ul class="messages">
                            @*                            <li class="other"><span>Y</span>Salam</li>
                                <li class="self"><span>A</span>Salam</li>*@

                            @foreach (var msg in ViewBag.Messages)
                            {
                                if (loggedUser.Id == msg.FromUserId)
                                {
                                    <li class="other">@msg.Text</li>
                                }
                                else
                                {
                                    <li class="self">@msg.Text</li>
                                }
                            }

                        </ul>
                        <div class="footer">
                            <input type="hidden" asp-for="@Model.Message.ToUserId" value="@Model.Cause.AppUserId" id="chatIdInput" />
                            <input class="text-box" asp-for="@Model.Message.Text" id="messageInput" placeholder="Write.." />
                            <a asp-action="CreateMessage" asp-controller="home" id="sendMessage">Send</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <!-- End of Chat -->
    }

    </main>