@model List<Cause>
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Start of Breadcrumb -->
    <section class="breadcrumb section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <h2>Our Causes</h2>
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-list-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-list-item">
                                <a href="cause.html">Causes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End of Breadcrumb -->
    <!-- Start of Causes -->
    <section id="causes" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <span>Our Causes</span>
                    <h2>Popular Causes What You Should Know</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">

                        @foreach (var cause in Model)
                        {
                            <div class="col-lg-6 mb-5">
                                <div class="cause-card post shadow-sm p-0">
                                    <div class="owl-carousel owl-theme owl-post">
                                        @foreach(var causeImg in cause.CauseImages)
                                        {
                                            <div class="item">
                                                <div class="post-img">
                                                    <img src="~/uploads/causes/@causeImg.Name" alt="">
                                                </div>
                                            </div>
                                        }
                                        @*<div class="item">
                                            <div class="post-img">
                                            <img src="~/assets/images/blog/img-2.jpg" alt="">
                                            </div>
                                            </div>*@
                                    </div>
                                    <div class="cause-content post-info w-100">
                                        <div class="post-content">
                                            <h3 class="fs-4">@cause.Title</h3>
                                        </div>
                                        <div class="d-flex">
                                            <div class="post-info-user d-flex">
                                                <div class="user-img">
                                                    <img src="~/assets/images/blog/admin.jpg" alt="">
                                                </div>
                                                <div class="user-name ms-2">
                                                    <a asp-action="index" asp-controller="account" asp-route-id="@cause.AppUserId">By @cause.AppUser.UserName</a>
                                                </div>
                                            </div>
                                            <div class="post-date ms-3 d-flex align-items-center justify-content-between">
                                                <span><i class="fa-solid fa-calendar-days me-1"></i> @cause.CreatedAt.ToString("d,MMMM")</span>
                                            </div>
                                        </div>
                                        <div class="progress mt-5 mb-4">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                style="width: @cause.AmountPercent%;" aria-valuenow="@cause.AmountPercent" aria-valuemin="0"
                                                aria-valuemax="100">@cause.AmountPercent%</div>
                                        </div>
                                        <div class="raise-goal d-flex justify-content-between">
                                            <div class="raise">
                                                <span>Raised:</span>
                                                $@cause.CurrentAmount
                                            </div>
                                            <div class="goal">
                                                <span>Goal:</span>
                                                $@cause.NeedAmount
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cause-btns d-flex">
                                        <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="btn">Learn More</a>
                                        <a asp-action="detail" asp-controller="cause" asp-route-id="@cause.Id" class="btn">Donate Now</a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if(Model.Count != 0)
                        {
                          <div class="pagination-wrapper mb-3">
                            <ul class="pg-pagination">
                                <li>
                                    <a href=""><i class="fa-solid fa-angle-left"></i></a>
                                </li>
                                <li class="active">
                                    <a href="">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3</a>
                                </li>
                                <li>
                                    <a href="">4</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa-solid fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="site-sidebar">
                        <div class="sidebar-item sidebar-search">
                            <h3>Search Here</h3>
                            <form action="" class="sidebar-form position-relative">
                                <input type="text" class="form-control" placeholder="Search Post..">
                                <button type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div class="sidebar-item sidebar-categories">
                            <h3>Categories</h3>
                            <ul class="sidebar-category-list">
                                <li class="sidebar-category-list-item">
                                    <a href="">Helping Poor</a>
                                </li>
                                <li class="sidebar-category-list-item">
                                    <a href="">Water Problem</a>
                                </li>
                                <li class="sidebar-category-list-item">
                                    <a href="">Charity</a>
                                </li>
                                <li class="sidebar-category-list-item">
                                    <a href="">Medical Compain</a>
                                </li>
                                <li class="sidebar-category-list-item">
                                    <a href="">Free Food</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-item sidebar-recents">
                            <h3>Recent Posts</h3>
                            <div class="recent-posts">
                                <div class="recent-post">
                                    <div class="recent-post-img">
                                        <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                    </div>
                                    <div class="recent-post-detail">
                                        <h4>
                                            <a href="">Many Children are suffering a lot for food.</a>
                                        </h4>
                                        <span class="date">
                                            22 Sep 2020
                                        </span>
                                    </div>
                                </div>
                                <div class="recent-post mt-3">
                                    <div class="recent-post-img">
                                        <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                    </div>
                                    <div class="recent-post-detail">
                                        <h4>
                                            <a href="">Many Children are suffering a lot for food.</a>
                                        </h4>
                                        <span class="date">
                                            22 Sep 2020
                                        </span>
                                    </div>
                                </div>
                                <div class="recent-post mt-3">
                                    <div class="recent-post-img">
                                        <img src="~/assets/images/recent-posts/img-1.jpg" alt="">
                                    </div>
                                    <div class="recent-post-detail">
                                        <h4>
                                            <a href="">Many Children are suffering a lot for food.</a>
                                        </h4>
                                        <span class="date">
                                            22 Sep 2020
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item sidebar-tags">
                            <h3>Tags</h3>
                            <ul class="sidebar-tag-list">
                                <li class="sidebar-tag-list-item">
                                    <a href="">Donations</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Charity</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Help</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Non Profit</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Poor People</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Helping Hand</a>
                                </li>
                                <li class="sidebar-tag-list-item">
                                    <a href="">Video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Causes -->





</main>