@model VolunteerViewModel
@{
    ViewData["Title"] = "Index";
}

    <main>
        <!-- Start of Breadcrumb -->
        <section class="breadcrumb section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <h2>Become a Volunteer</h2>
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-list-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-list-item">
                                    <a href="cause.html">Become a Volunteer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End of Breadcrumb -->

        <!-- Start of Become a Volunteer -->
        <section id="volunteer" class="section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="volunteer d-flex flex-column align-items-center">
                            <div class="shadow">
                                <div class="volunteer-img">
                                    <img src="~/assets/images/volunteer.jpg" alt="">
                                </div>
                            </div>
                            <div class="volunteer-contact">
                                <div class="volunteer-contact-form">
                                    <h2>Become a Volunteer</h2>
                                    <form asp-action="create" method="post">
                                        <form method="post" class="contact-validation-active" id="contact-form"
                                            novalidate="novalidate">
                                            <div class="row justify-content-center text-center">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 form-group">
                                                    <input class="form-control" asp-for="Volunteer.FacebookUrl"
                                                        placeholder="Facebook url">
                                                        <span class="text-danger" asp-validation-for="Volunteer.FacebookUrl"></span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 form-group">
                                                    <input type="text" class="form-control" asp-for="Volunteer.InstagramUrl"
                                                        placeholder="Instagram url">
                                                        <span class="text-danger" asp-validation-for="Volunteer.InstagramUrl"></span>
                                                </div>
                                                 <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 form-group">
                                                    <input type="text" class="form-control" asp-for="Volunteer.TwitterUrl"
                                                        placeholder="Twitter url">
                                                        <span class="text-danger" asp-validation-for="Volunteer.TwitterUrl"></span>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3 form-group">
                                                    <input type="text" class="form-control" asp-for="Volunteer.Subject"
                                                        placeholder="Subject">
                                                        <span class="text-danger" asp-validation-for="Volunteer.Subject"></span>

                                                </div>
                                                
                                                <div class="col-lg-12 col-12 form-group">
                                                    <textarea class="form-control" asp-for="Volunteer.Description" rows="6"
                                                        placeholder="Description..."></textarea>
                                                        <span class="text-danger" asp-validation-for="Volunteer.Description"></span>

                                                </div>
                                                <div class="form-btn col-lg-12 col-12">
                                                    <button type="submit" class="theme-btn submit-btn">Send
                                                        Message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Start of Become a Volunteer -->

        <!-- Start of Team -->
        <section id="team" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <span>Meet Our Team</span>
                            <h2>Our Expert Volunteer</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                @foreach(var volunteer in Model.VolunteerUsers)
                {
                    <div class="col-lg-4 col-md-6 col-12 mb-5">
                        <div class="member-card">
                            <div class="member-img">
                                <img src="~/uploads/users/@volunteer.AppUser?.ProfileImg" alt="">
                            </div>
                            <div class="member-info shadow-sm">
                                <div class="member">
                                    <h2>@volunteer.AppUser?.FullName</h2>
                                    <span>Volunteer</span>
                                    <ul class="member-social-list">
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.FacebookUrl"><i class="fa-brands fa-facebook-f"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.TwitterUrl"><i class="fa-brands fa-twitter"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.AppUser?.Email"><i class="fa-solid fa-envelope"></i></a>
                                        </li>
                                        <li class="member-social-list-item">
                                            <a href="@volunteer.InstagramUrl"><i class="fa-brands fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                </div>
            </div>
        </section>
        <!-- End of Team -->
