@model List<Tag>
@{
    ViewData["Title"] = "Index";
    int page = ViewBag.Page;
    int totalPages = ViewBag.TotalPages;
    int count = 0;
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Tags Table</h4>
                    <a asp-action="create" class="btn btn-outline-primary"> Create Tag</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>#</th>
                            <th>
                                Name
                            </th>


                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var tag in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @tag.Name
                                        </td>

                                        <td class="text-right">
                                            <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@tag.Id">Edit</a>
                                            <a class="btn btn-outline-danger sweet-delete" asp-action="delete" asp-route-id="@tag.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model.Count > 0)
                        {
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item @(page==1?"d-none":"")">
                                        <a asp-action="index" asp-route-page="@(page-1)" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    @if (page == 1)
                                    {
                                        for (int i = page; i <= totalPages; i++)
                                        {
                                            <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                        }
                                    }
                                    else if (page == totalPages)
                                    {
                                        if (totalPages > 2)
                                        {
                                            for (int i = page - 2; i <= page; i++)
                                            {
                                                <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= page; i++)
                                            {
                                                <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = page - 1; i <= page + 1; i++)
                                        {
                                            <li class="page-item @(page==i?"active":"")"><a asp-action="index" asp-route-page="@i" class="page-link">@i</a></li>

                                        }
                                    }
                                    <li class="page-item @(page==totalPages?"d-none":"")">
                                        <a asp-action="index" asp-route-page="@(page+1)" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
